@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<div class="row">
    <div class="col-sm-4">
        <h4>Meatpie</h4>
        <img src="~/images/meatpie.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236" />

    </div>
    <div class="col-sm-4">
        <h4>Kangaroo</h4>
        <img src="~/images/kangaroo_meat_supermarket-commons.jpeg" class="img-rounded" alt="Cinque Terre" width="304" height="236" />

    </div>
    <div class="col-sm-4">
        <h4>Fish & Chips</h4>
        <img src="~/images/fish_chips_commons.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236" />

    </div>

</div>
